
GtkHPaned {
    background-color: rgba(0.1, 0.1, 0.1, 0.1);
}
GtkButton, GtkEntry {
    /*color: #ff00ea;
    font: Comic Sans 12*/
}

.css_error {
    background-color: rgba(255, 0., 0., 0.5);
}
.css_hover {
    background-color: rgba(125, 0.5, 0.5, 0.2);
}
